/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
}  

header {
  padding: 16px;    
  align-items: center;    
}  

.section {
  padding: 32px;
  border-bottom: 1px solid #ccc;
}

.catalogo-seguros {
  display: flex;
  flex-wrap:wrap;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
}
  
footer {    
  text-align: center;
  padding: 16px;
}